<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section class="container-fluid" id="login_container" style="padding-top: 25vh; display: block;">
        <section class="row justify-content-center">
            <form class="form-container col-sm-4" id="loginForm">
                <div class="form-group">
                    <h4 class="text-center font-weight-bold"> Login </h4>
                    <label for="InputName">Username</label>
                    <input type="text" class="form-control" id="InputName" placeholder="Enter User Name" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Enter Password" required>
                </div>
                <div class="text-center" style="padding-top: 1vh;">
                    <input type="submit" name='btn' id="loginBtn" class="btn btn-info col-md-4" value="Login">
                </div>
            </form>
        </section>
    </section>

    <section class="container-fluid" id="error_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Error </h6>
        </nav>
    </section>

    <section class="container-fluid" id="new_file_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Create a New File </h6>
        </nav>

        <div class="row" style="margin-top: 5%;">
            <div class="col-md-4" style="background-color: #F5F7FA;">
                <form>
                    <div class="form-group" style="margin: 2em;">
                        <label style="margin-top: 2em;">File No:</label>
                        <input type="text" class="form-control col-md-6" name="FileNo" id="FileNo11" value="" required>
                        <label>Item Descripition:</label>
                        <input type="text" class="form-control col-md-6" name="ItemDescripition" id="ItemDescripition11" value="" required>
                        <label>Drawing No:</label>
                        <input type="text" class="form-control col-md-6" name="DrawingNo" id="DrawingNo11" value="" required>
                        <label>Drawing Issue:</label>
                        <input type="text" class="form-control col-md-6" name="DrawingIssue" id="DrawingIssue11" value="" required>
                    </div>

                    <input type="submit" name='btn' class="btn btn-primary col-md-3" value="Save" style="margin-top: 8vh; margin-left: 3.5vw; margin-bottom: 5vh;">
                    <input type="submit" name='btn' class="btn btn-warning col-md-3" value="Update" style="margin-top: 8vh; margin-bottom: 5vh;">
                    <input type="submit" name='btn' class="btn btn-danger col-md-3" value="Delete" style="margin-top: 8vh; margin-bottom: 5vh;">
                    <!-- <input type="submit" name='btn' class="btn btn-primary col-md-2" value="Clear" style="margin-top: 10vh;"> -->
                </form>
            </div>

            <div class="col-md-8 justify-content-center">
                <div style="height: 80vh; overflow: scroll; overflow-x: hidden;">
                    <table id="fetch" class="table" style="text-align: center;">
                        <thead class="thead-dark">
                            <tr>
                                <th>File No</th>
                                <th>Item Descripition</th>
                                <th>Drawing No</th>
                                <th>Drawing Issue</th>
                                <th>Jig Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <tr>
                                <td>sub1</td>
                                <td>sub1</td>
                                <td>sub1</td>
                                <td>sub1</td>
                                <td>sub1</td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>

    <section class="container-fluid" id="create_jigs_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Create Jigs </h6>
        </nav>
    </section>

    <section class="container-fluid" id="execute_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Execute </h6>
        </nav>
    </section>

    <section class="container-fluid" id="operate_machine_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Operate Machine </h6>
        </nav>
    </section>

    <section class="container-fluid" id="change_config_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Change Config </h6>
        </nav>
    </section>

    <section class="container-fluid" id="change_password_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Change Password </h6>
        </nav>
    </section>

    <section class="container-fluid" id="about_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center" style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> About </h6>
        </nav>
    </section>

    <!-- Add js script files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <script src="./preload.js"></script>
</body>

</html>