<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section class="container-fluid" id="login_container" style="padding-top: 25vh; display: block;">
        <section class="row justify-content-center">
            <form class="form-container col-sm-4" id="loginForm">
                <div class="form-group">
                    <h4 class="text-center font-weight-bold"> Login </h4>
                    <label for="InputName">Username</label>
                    <input type="text" class="form-control" id="InputName" placeholder="Enter User Name" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Enter Password"
                        required>
                </div>
                <div class="text-center" style="padding-top: 1vh;">
                    <input type="submit" name='btn' id="loginBtn" class="btn btn-info col-md-4" value="Login">
                </div>
            </form>
        </section>
    </section>

    <section class="container-fluid" id="error_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Error </h6>
        </nav>

        <section class="row justify-content-center" style="margin-top: 5vh;">
            <h4 class="text-center font-weight-bold" id="errDis"></h4>
        </section>

        <div class="row">
            <div class="col-sm-12" style="height: 8vh; margin-top: 1vh;">
                <div class="d-flex justify-content-center" style="margin-top: 1vh;">
                    <div class="col-sm-1 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary col-sm-12" onclick="relaunch()">Relaunch</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="new_file_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Create a New File </h6>
        </nav>

        <div class="row" style="margin-top: 5%;">
            <div class="col-md-4" style="background-color: #F5F7FA;">
                <form id="crtForm">
                    <div class="form-group" style="margin: 2em;">
                        <label style="margin-top: 2em;">File No:</label>
                        <input type="text" class="form-control col-md-6" name="FileNo" id="FileNo11" value="" required>
                        <label>Item Descripition:</label>
                        <input type="text" class="form-control col-md-6" name="ItemDescripition" id="ItemDescripition11"
                            value="" required>
                        <label>Drawing No:</label>
                        <input type="text" class="form-control col-md-6" name="DrawingNo" id="DrawingNo11" value=""
                            required>
                        <label>Drawing Issue:</label>
                        <input type="text" class="form-control col-md-6" name="DrawingIssue" id="DrawingIssue11"
                            value="" required>
                    </div>

                    <div class="d-flex justify-content-center" style="margin-top: 8vh;">
                        <input type="submit" id="btnSave" value="Save" class="btn btn-primary m-1">
                        <input type="submit" id="btnUpdate" value="Update" class="btn btn-warning m-1">
                        <input type="submit" id="btnDelete" value="Delete" class="btn btn-danger m-1">
                        <input type="submit" id="btnClear" value="Clear" class="btn btn-success m-1">
                    </div>
                </form>
            </div>

            <div class="col-md-8 justify-content-center">
                <div style="height: 80vh; overflow: scroll; overflow-x: hidden;">
                    <table id="fetchtbl" class="table" style="text-align: center;">
                        <thead class="thead-dark">
                            <tr>
                                <th>File No</th>
                                <th>Item Descripition</th>
                                <th>Drawing No</th>
                                <th>Drawing Issue</th>
                                <th>Jig Status</th>
                            </tr>
                        </thead>
                        <tbody id="crtlist">
                            <!-- info -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="create_jigs_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Create Jigs </h6>
        </nav>

        <div id="input_container">
            <div class="row">
                <div class="col-sm-4" style="height: 28vh; background-color: #F5F7FA;">
                    <div class="row sm-4" style="margin-top: 5%;">
                        <div class="d-inline-flex">
                            <div class="col-sm-4">
                                <label for="">Item Description:</label>
                            </div>
                            <div class="col-sm-8" style="margin-left: 0.8vw; width: 20vw;" id="fetchdrop" >
                                <select class="form-control" id="itmdes">
                                    <!-- info -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-4 col-form-label">Cord Length:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="crdlen" placeholder="Cord Length" value="100" onkeyup="document.getElementById('midpnt').value=(this.value/2)" required>
                        </div>
                    </div>

                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-4 col-form-label">Middle Point:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="midpnt" placeholder="Middle Point" required readonly>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4" style="height: 28vh; background-color: #F5F7FA;">
                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-4 col-form-label">File No:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="filno" placeholder="File No" required readonly>
                        </div>
                    </div>

                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-4 col-form-label">Drawing No:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="drano" placeholder="Drawing No" required readonly>
                        </div>
                    </div>

                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-4 col-form-label">Issue:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="iss" placeholder="Issue" required readonly>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4" style="height: 28vh; background-color: #F5F7FA;">
                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-7 col-form-label">Total Marks:</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="ttlmrk" placeholder="Marks" value="9" required>
                        </div>
                    </div>

                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-7 col-form-label">No of Nets per Turn:</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="notrn" placeholder="Turns" value="1" required>
                        </div>
                    </div>

                    <div class="row sm-4" style="margin-top: 5%;">
                        <label for="" class="col-sm-7 col-form-label">Cut & Mark Adjustemt Value:</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="adjval" placeholder="Adj Value" value="0" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="height: 8vh; background-color: #F5F7FA; margin-top: 1vh;">
                    <div class="d-flex justify-content-center" style="margin-left: 10.5vw; margin-top: 1vh;">
                        <div class="col-sm-6 form-group row">
                            <div class="col-sm-3">
                                <label for="" class="col-form-label">K-K Distance:</label>
                            </div>
                            <div class="col-sm-5">
                                <input type="number" class="form-control col-sm-12" id="kkdis" value="10" placeholder="K-K Distance">
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-primary col-sm-12" onclick="renderTmpGig()">Run</button>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-warning col-sm-12" onclick="clearInputs()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-sm mb-0" style="height: 45vh;">
            <div class="col-sm-6 mb-0" style="height: 45vh; background-color: #F5F7FA; margin-top: 0.5em;">

                <div class="row col-sm-12 d-flex justify-content-center">
                    <div class="col-sm-2 p-1 mb-1 bg-dark text-white"
                        style="border: 0ch; margin-top: 6%; text-align: center; border-radius: 25px;">Default</div>
                    <div class="col-sm-2 p-1 mb-1 bg-success text-white"
                        style="border: 0ch; margin-top: 6%;  margin-left: 1.55em; text-align: center; border-radius: 25px;">
                        Starting</div>
                    <div class="col-sm-2 p-1 mb-1 bg-primary text-white"
                        style="border: 0ch; margin-top: 6%;  margin-left: 1.55em; text-align: center; border-radius: 25px;">
                        Center</div>
                    <div class="col-sm-2 p-1 mb-1 bg-success text-white"
                        style="border: 0ch; margin-top: 6%;  margin-left: 1.55em; text-align: center; border-radius: 25px;">
                        End</div>
                </div>

                <div class="row col-sm-12" style="margin-top: 5%;">
                    <div class="d-flex justify-content-center">
                        <div class="col-sm-4">
                            <label for="">Select Place:</label>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" id="sltplc">
                                <!-- info -->
                                <option selected>Choose...</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row col-sm-12" style="margin-top: 5%;">
                    <div class="d-flex justify-content-center">
                        <div class="col-sm-4">
                            <label for="">Select Color:</label>
                        </div>
                        <div class="col-sm-6">
                            <select name="" class="form-control" id="sltclr">
                                <option selected>Choose...</option>
                                <option value="Green">Green</option>
                                <option value="Blue">Blue</option>
                                <option value="Black">Black</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row col-sm-12" style="margin-top: 5%;">
                    <div class="d-flex justify-content-center">
                        <input type="submit" name='btn' class="btn btn-info col-sm-2" value="Change" onclick="updateTmpTbl()">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-0" style="height: 45vh; background-color: #F5F7FA; margin-top: 0.5em;">
                <div style="height: 45vh; overflow: scroll; overflow-x: hidden;">
                    <table class="table table-bordered" style="text-align: center;  margin-top: 0.5em;" id="tmpTblx">
                        <thead class="thead-dark">
                            <tr>
                                <th>Place No</th>
                                <th>Color</th>
                                <th>Gap</th>
                            </tr>
                        </thead>
                        <tbody id="tmpTbl">
                            <!-- info -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 mb-0" style="height: 7vh; background-color: #F5F7FA; margin-top: 0.5em;">
            <div class="d-flex justify-content-center">
                <input type="submit" name="btn" class="btn btn-primary col-sm-1 m-1" value="Save" onclick="saveTmpTbl()">
                <input type="submit" name="btn" class="btn btn-primary col-sm-2 m-1" value="Sumbmit to QA">
                <input type="submit" name="btn" class="btn btn-primary col-sm-1 m-1" value="Delete" onclick="rmvTmpTbl()">
            </div>
        </div>
    </section>

    <section class="container-fluid" id="execute_error_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Execute </h6>
        </nav>

        <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-primary col-md-2  btn-block p-4 rounded-1" style="margin-top: 10vh;">
                Activate Auto Mode
            </button>
        </div>
    </section>

    <section class="container-fluid" id="execute_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Execute </h6>
        </nav>

        <div class="col-sm-12 mb-0" style="height: 7vh; background-color: #F5F7FA; margin-top: 0.5em;">
            <div class="d-flex justify-content-center">
                <input type="submit" name="btn" class="btn btn-primary col-sm-1" id="exeStart" style="margin-right: 1vw; margin-top: 0.5vh;"
                    value="Start">
                <input type="submit" name="btn" class="btn btn-success col-sm-1" id="exePre" style="margin-right: 1vw; margin-top: 0.5vh;" 
                    value="Pre Print">
                <input type="submit" name="btn" class="btn btn-warning col-sm-1" id="exePause" style="margin-right: 1vw; margin-top: 0.5vh;"
                    value="Pause">
                <input type="submit" name="btn" class="btn btn-danger col-sm-1" id="exeStop" style="margin-right: 1vw; margin-top: 0.5vh;"
                    value="Stop">
            </div>
        </div>

        <div class="row col-sm mb-0" style="height: 50vh;">
            <div class="col-sm-8 mb-0" style="height: 50vh; background-color: #F5F7FA; margin-top: 0.5em; overflow: scroll; overflow-x: hidden;">
                <table id="mainExeTbl" class="table" style="text-align: center;">
                    <thead class="thead-dark">
                      <tr>
                        <th>File No.</th>
                        <th>Item Description</th>
                        <th>Status</th>
                        <th>No of Turns</th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                      </tr>
                    </thead>
                    <tbody id="exeTbl">
                        <!-- info -->
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4 mb-0" style="height: 50vh; background-color: #F5F7FA; margin-top: 0.5em; overflow: scroll; overflow-x: hidden;">
                <table class="table" style="text-align: center;">
                    <thead class="thead-dark">
                      <tr>
                        <th>Place No</th>
                        <th>Color</th>
                        <th>Gap</th>
                      </tr>
                    </thead>
                    <tbody id="gigTbl">
                      <!-- info -->
                    </tbody>
                  </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" style="height: 20vh; background-color: #F5F7FA; margin-top: 2vh;">
                <div class="row sm-4 d-flex justify-content-center" style="margin-top: 3%;">
                    <label for="" class="col-sm-4 col-form-label">Drawing No:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="exeDraNo" readonly required>
                    </div>
                </div>

                <div class="row sm-4 d-flex justify-content-center" style="margin-top: 3%;">
                    <label for="" class="col-sm-4 col-form-label">Issue:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="exeIss" readonly required>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="height: 20vh; background-color: #F5F7FA; margin-top: 2vh;">
                <div class="row sm-4 d-flex justify-content-center" style="margin-top: 3%;">
                    <label for="" class="col-sm-4 col-form-label">Cord Length:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="exeCrdln" readonly required>
                    </div>
                </div>

                <div class="row sm-4 d-flex justify-content-center" style="margin-top: 3%;">
                    <label for="" class="col-sm-4 col-form-label">Total Marks:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="exeTtlMrk" readonly required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row sm-4 d-flex justify-content-center" style="height: 10vh; background-color: #F5F7FA;">
            <label for="" class="col-sm-2 col-form-label">Progress:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="exePro" readonly required>
            </div>
        </div>

    </section>

    <section class="container-fluid" id="operate_machine_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Operate Machine </h6>
        </nav>

        <div class="row col-md-12" style="margin-top: 5vh;">
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnUpMainRoll">
                    Up Main Roll
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnDownMainRoll"
                    style="display: none; margin-top: -0.01em;">
                    Down Main Roll
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnPullGuidBoard">
                    Pull Guid Board
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnResetGuidBoard"
                    style="display: none; margin-top: -0.01em;">
                    Reset Guid Board
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnBladeon">
                    Cutter Blade
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnBladeoff"
                    style="display: none; margin-top: -0.01em;">
                    Stop Cutter Blade
                </button>
            </div>
        </div>
        
        <div class="row col-md-12" style="margin-top: 5vh;">
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnDragBraidIn">
                    Drag Braid In
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnresetDragBraidIn"
                    style="display: none; margin-top: -0.01em;">
                    Stop Drag Braid In
                </button>
            </div>
        
            <div class="col-sm-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnactHomeManual">
                    Home
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnGetBraidOut">
                    Get Braid Out
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnresetGetBraidOut"
                    style="display: none; margin-top: -0.01em;">
                    Stop Drag Braid Out
                </button>
            </div>
        </div>
        
        <div class="row col-md-12" style="margin-top: 5vh;">
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnReleaseDraggingRoll">
                    Release <br> Dragging Roll
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnSetDraggingRoll"
                    style="display: none; margin-top: -0.01em;">
                    Set <br> Dragging Roll
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnSetHeat">
                    Set <br> Heat Seal
                </button>
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnresetSetHeat"
                    style="display: none; margin-top: -0.01em;">
                    Reset <br> Heat Seal
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnRunInkRoll">
                    Run <br> Ink Roll
                </button>
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnStopInkRoll"
                    style="display: none; margin-top: -0.01em;">
                    Stop <br> Ink Roll
                </button>
            </div>
        </div>
        
        <!-- <div class="row col-md-12" style="margin-top: 5vh;">
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnPreprint1">
                    Preprint 1
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnStpPreprint1"
                    style="display: none; margin-top: -0.01em;">
                    Stop Preprint 1
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnPreprint2">
                    Preprint 2
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnStpPreprint2"
                    style="display: none; margin-top: -0.01em;">
                    Stop Preprint 2
                </button>
            </div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnPreprint3">
                    Preprint 3
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnStpPreprint3"
                    style="display: none; margin-top: -0.01em;">
                    Stop Preprint 3
                </button>
            </div>
        </div> -->
        
        <div class="row col-md-12" style="margin-top: 5vh;">
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnCutterFwd">
                    Cutter Forward
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnStpCutterFwd"
                    style="display: none; margin-top: -0.01em;">
                    Stop Cutter
                </button>
            </div>
        
            <div class="col-md-4"></div>
        
            <div class="col-md-4 d-flex justify-content-center">
                <button class="col-md-6 btn btn-primary btn-block p-4 rounded-1" id="btnCutterRvs">
                    Cutter Reverse
                </button>
        
                <button class="col-md-6 btn btn-danger btn-block p-4 rounded-1" id="btnStpCutterRvs"
                    style="display: none; margin-top: -0.01em;">
                    Stop Cutter
                </button>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="change_config_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Change Config </h6>
        </nav>

        <div class="d-flex justify-content-center" style="margin-top: 5vh;">
            <form class="form-container col-sm-4">
                <div class="form-group">
                    <label for="rpm1">RPM 1:</label>
                    <input type="text" class="form-control" id="rpm1" placeholder="Enter RPM 1" required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="rpm2">RPM 2:</label>
                    <input type="text" class="form-control" id="rpm2" placeholder="Enter RPM 2"
                        required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="rpm3">RPM 3:</label>
                    <input type="text" class="form-control" id="rpm3" placeholder="Enter RPM 3"
                        required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="ltresh">Length Treshold:</label>
                    <input type="text" class="form-control" id="ltresh" placeholder="Enter Length Treshold"
                        required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="Green2Black">Green2Black:</label>
                    <input type="text" class="form-control" id="Green2Black" placeholder="Enter Green2Black Length"
                        required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="Black2Blue">Black2Blue:</label>
                    <input type="text" class="form-control" id="Black2Blue" placeholder="Enter Black2Blue Length"
                        required>
                </div>
                <div class="text-center" style="padding-top: 3vh;">
                    <input type="submit" name='btn' id="loginBtn" class="btn btn-info col-md-4" value="Change">
                </div>
            </form>
        </div>
        
    </section>

    <section class="container-fluid" id="change_password_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> Change Password </h6>
        </nav>

        <div class="d-flex justify-content-center" style="margin-top: 5vh;">
            <form class="form-container col-sm-4">
                <div class="form-group">
                    <label for="rpm1">Enter Username</label>
                    <input type="text" class="form-control" id="rpm1" placeholder="Enter Current Password" required>
                </div>

                <div class="form-group">
                    <label for="rpm1">Enter Current Password</label>
                    <input type="password" class="form-control" id="rpm1" placeholder="Enter Current Password" required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="rpm2">Enter New Password:</label>
                    <input type="password" class="form-control" id="rpm2" placeholder="Enter New Password"
                        required>
                </div>
                <div class="form-group" style="margin-top: 1vh;">
                    <label for="rpm2">Retype New Password:</label>
                    <input type="password" class="form-control" id="rpm2" placeholder="Retype New Password"
                        required>
                </div>
                <div class="text-center" style="padding-top: 3vh;">
                    <input type="submit" name='btn' id="loginBtn" class="btn btn-info col-md-4" value="Change">
                </div>
            </form>
        </div>
    </section>

    <section class="container-fluid" id="about_container" style="display: none;">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-center"
            style="margin-left: -15px; margin-right: -15px; margin-top: -30px;">
            <h6 style="color: white"> About </h6>
        </nav>

        <section class="row justify-content-center" style="margin-top: 20vh;">
            <h4 class="text-center font-weight-bold"> Braid Marking And Cutting System </h4>
            <h5 class="text-center"> Developed by Rex Industries </h5>
            <h6 class="text-center">V <span id="Vno"></span></h6>
        </section>
    </section>

    <!-- Add js script files -->
    <script src="../lib/js/bootstrap.bundle.min.js"></script>
    <script src="./preload.js"></script>
</body>

</html>